body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

input {
  padding: 4px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-group input[type="radio"],
.input-group input[type="checkbox"] {
  margin: 0;
  cursor: pointer;
}

.input-group label {
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 16px;
}

textarea {
  height: 100px;
  margin-bottom: 2em;
  font-family: Arial, sans-serif;
}


textarea::placeholder {
  font-family: Arial, sans-serif;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  margin-top: 10px;
  width: 10em;
  align-self: center;
}

button[type="reset"] {
  background-color: #ff6b6b;
}

button[type="submit"] {
  background-color: #1e90ff;
}

button:hover {
  opacity: 0.8;
}
